@font-face {
  font-family: headingfont;
  src: url(../fonts/fat-stack.ttf);
}

@font-face {
  font-family: navfont;
  src: url(../fonts/alphabetized-cassette-tapes.ttf);
}

@font-face {
  font-family: bodyfont;
  src: url(../fonts/anna-regular.ttf);
}

body {
  background-image: url("../images/background.jpg");
  background-size: 100%;
  background-repeat: repeat-x;
  background-position: left top;
}

h1 {
  font-family: headingfont;
  color: #00004d;
  font-size: 5em;
}

navbar {
  font-family: navfont;
  color: #00004d;
  font-size: 4em;
}

a {
  text-decoration: none;
}

a:link {
  color: #00004d;
}

a:visited {
  color: #00004d;
}

a:hover {
  color: #ff4da6;
}

header {
  position: fixed;
  top: -2em;
  left: 0em;
  margin: 0em;
  padding 10em;
  width: 100%;
  background-color: rgba(255, 255, 255, .6);
  text-indent: 4em;
  z-index: 1;
}

navbar {
  position:absolute;
  top: 2em;
}

footer {
  position: fixed;
  bottom: 0em;
  left: 0em;
  width: 100%;
  background-color: rgba(255, 255, 255, .6);
  text-indent: 4em;
  z-index: 2;
}

div.container {
  position:absolute;
  top: 12em;
  left: 6em;
  overflow: hidden;
  z-index: 3;
}