header {
  position: fixed;
  top: -3.5rem;
  left: 0rem;
  margin: 0rem;
  padding 0rem;
  width: 100%;
  z-index: 10;
}

nav {
  position:relative;
  top: -3rem;
  left: 2.5rem;
  z-index: 10;
}

nav a {
  float: left;
}

footer a {
  padding: 0 0 0 0;
}

footer {
  position: fixed;
  bottom: 0rem;
  left: 0rem;
  width: 100%;
  z-index: 9;
}

div.container {
  height: 100%;
  margin: 14.5rem 0rem 12rem 7rem;
  z-index: 3;
}

section {
}

figure {
}
