/*@font-face {
  font-family: headingfont;
  src: url(../fonts/fat-stack.TTF);
}

@font-face {
  font-family: navfont;
  src: url(../fonts/alphabetized-cassette-tapes.ttf);
}

@font-face {
  font-family: bodyfont;
  src: url(../fonts/anna-regular.ttf);
} 

**temporarily disabling custom fonts**/

html {
  background-image: url("../images/background.jpg");
  background-size: 100%;
  background-repeat: repeat-y;
}

h1 {
  font-family: 'Homemade Apple', cursive;
  color: #00004d;
  font-size: 6rem;
}

a {
  text-decoration: none;
}

nav a:link {
  color: #00004d;
}

nav a:visited {
  color: #00004d;
}

nav a:hover {
  color: #ff4da6;
}

footer a:hover {
  color: #ff4da6;
}

footer a:visited {
  text-decoration: none;
}

header {
  background-color: rgba(255, 255, 255, .8);
  text-indent: 4rem;
  font-family: 'Homemade Apple', cursive;
}

nav a {
  font-family: 'Rock Salt', cursive;
  color: #00004d;
  font-size: 2rem;
}

footer a{
  text-decoration: none;
  font-size: 2rem;
}

footer {
  background-color: rgba(255, 255, 255, .8);
  text-indent: 4rem;
  font-family: 'Coming Soon', cursive;
  color: #00004d;
}

figure {
  float: left;
  text-align: center;
  font-size: 1.2rem;
}

article {
  font-family:'Coming Soon', cursive;
  font-size: 1.5rem;
  color: #00004d;
}