@font-face {
  font-family: headingfont;
  src: url(../fonts/fat-stack.TTF);
}

@font-face {
  font-family: navfont;
  src: url(../fonts/alphabetized-cassette-tapes.ttf);
}

@font-face {
  font-family: bodyfont;
  src: url(../fonts/anna-regular.ttf);
}

body {
  background-image: url("../images/background.jpg");
  background-size: 100%;
  background-repeat: repeat-y;
  background-position: left top;
}

h1 {
  font-family: headingfont;
  color: #00004d;
  font-size: 5em;
}

nav {
  font-family: navfont;
  color: #00004d;
  font-size: 4em;
}

a {
  text-decoration: none;
}

a:link {
  color: #00004d;
}

a:visited {
  color: #00004d;
}

a:hover {
  color: #ff4da6;
}

footer {
  background-color: rgba(255, 255, 255, .8);
  text-indent: 4em;
  font-family: bodyfont;
  color: #00004d;
}

figure {
  float: left;
  text-align: center;
}

article {
  font-family: bodyfont;
  font-size: 20px;
  color: #00004d;
}